<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Department</a></li>
            <li class="breadcrumb-item">Department List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="d-flex justify-content-end">

        <a asp-controller="Department" asp-action="DepartmentAddEdit">
        <button type="button" class="btn btn-primary mb-5">DepartmentAddEdit</button>
    </a>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
        <h5 class="card-title">@ViewBag.Title Table</h5>
        </div>

        <div class="d-flex justify-content-center">
            <p>All The Record of The <code>@ViewBag.Title</code></p>
        </div>

        <div class="container col-sm-3 d-flex justify-content-end ">
            <input class="form-control" id="myInput" type="text" placeholder="Search here">
        </div>

        <!-- Bordered Table -->
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col">Serial No.</th>
                    <th scope="col">Department ID</</th>
                    <th scope="col">Department Name</</th>
                    <th scope="col">Head of Department</</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <th scope="row">1</th>
                    <td>@Model.DeptId</td>
                    <td>@Model.DeptName</</td>
                    <td>@Model.Hod</td>
                    <td>@Model.Location</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>102</td>
                    <td>Sales & Marketing</</td>
                    <td>Ms. Sarah Davis</td>
                    <td>Building B, Level 1</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>103</td>
                    <td>Developer</td>
                    <td>Mr. Robert Brown</td>
                    <td>Building B, Level 2</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>104</td>
                    <td>Finance</td>
                    <td>Ms. Emily White</td>
                    <td>Building C, Level 4</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>105</td>
                    <td>Customer Support</</td>
                    <td>Dynamic Division Officer</td>
                    <td>Building D, Level 1</td>
                </tr>
            </tbody>
        </table>
        <!-- End Bordered Table -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>
